body {
    display: flex;
    height: 100dvh;
    margin: 0px;
    padding: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.column {
    display: flex;
    flex-direction: column;

}

.row {
    display: flex;
}

.square {
    border: 1px solid black;
    width: 25px;
    height: 25px;
}

.container {
    display: flex;
    flex-Direction: column;
    justify-Content: center;
    align-items: center;
}

.onhover {
    background-color:black;
}